/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #050101;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: lightpink;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
h2 {
    color: #333;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
select, input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #b31d1d;
    border-radius: 5px;
}
button {
    background-color: #2872a7;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #4f2188;
}
p {
    margin-top: 15px;
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
